html {
  width: 100%;
  font-size: 16px;
}

body {
  width: 100%;
  background-color: #fafafa !important;

}

.main {
  width: 550px;
}

.xy-align {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.text-1 {
  font-size: 0.875rem; /* 14px*/
}

.suggestions {
  padding-left: 0px;
  list-style: none;
}
.suggestions span {
  padding-left: 15px;
}

.suggestions li {
  margin: 10px 0;
  border: 1px solid #c6c8ca;
  background-color: #17a2b8!important;

}
