html {
  width: 100%;
  font-size: 16px;
}

body {
  width: 100%;
  background-color: #fafafa !important;

}

.main {
  width: 550px;
}

.xy-align {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.text-1 {
  font-size: 0.875rem; /* 14px*/
}

/* Handle the suggestions list */
.suggestions {
  padding-left: 0px;
  list-style: none;
}
.suggestions span {
  padding-left: 15px;
}

.suggestions li {
  margin: 10px 0;
  border: 1px solid #c6c8ca;
  background-color: #17a2b8!important;

}

/* Handle the plus icon on add new data */

.closed .vertical {
  transition: all 0.5s ease-in-out;
  transform: rotate(-90deg);
}
.closed .horizontal {
  transition: all 0.5s ease-in-out;
  transform: rotate(-90deg);
  opacity: 1;
}

.opened {
  opacity: 1;
}
.opened .vertical {
  transition: all 0.5s ease-in-out;
  transform: rotate(90deg);
}
.opened .horizontal {
  transition: all 0.5s ease-in-out;
  transform: rotate(90deg);
  opacity: 0;
}

.circle-plus {
  height: 4em;
  width: 4em;
  font-size: 1em;
  opacity: .7;
}

.circle-plus .circle {
  position: relative;
  width: 1.6em;
  height: 1.6em;
  border-radius: 100%;
  border: solid .2em #DFDAD7;
}
.circle-plus .circle .horizontal {
  position: absolute;
  background-color: red;
  width: 16px;
  height: 3px;
  left: 50%;
  margin-left: -9px;
  top: 50%;
  margin-top: -2.5px;
}
.circle-plus .circle .vertical {
  position: absolute;
  background-color: red;
  width: 3px;
  height: 16px;
  left: 50%;
  margin-left: -1.5px;
  top: 50%;
  margin-top: -9px;
}